.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0px;
}

.article-section {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 30px;
}

.article-text{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.article-media {
    min-width: 0;
    flex: 1;
}

@media only screen and (max-width: 850px) {
    .article-section {
        flex-direction: column;
        margin: 0 30px;
    }
}