/* VARIABLES */
:root {
    --header-bg: #1d1c22;
    --footer-bg: #25282d;
    --bg-general: #121416;
    --accent: rgb(153, 179, 161);
    --text-header: #ffffff;
    --text-midlight: #c4c4c4;
    --text-lowlight: #6e6e6e;
    --text-link: #70cdda;
}

html, body {
    margin: 0;
    background-color: var(--bg-general);
    height: 100%;
}
/* */

/* BANNER */
.banner {
    height: 60px;

    background-color: var(--header-bg);

    box-shadow: 0 0 10px 2px black;

    position: relative;

    display: flex;
    justify-content: center;
}

.banner-box {
    position: relative;
    height: 100%;
    width: 75%;
    margin: 0 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header {
    text-decoration: none;
}

.name {
    font-family: monospace;
    font-weight: bold;
    font-size: 24px;
    color: var(--text-header);
}

.menu-dropdown {
    position: relative;
}

.menu-content {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;

    list-style-type: none;
}

.menu-link-container {
    scale: 1;
    transition: scale 250ms;
}

.menu-link {
    text-decoration: none;
}

.menu-link-text {
    font-family: monospace;
    font-size: 14px;
    color: var(--text-header);
    text-decoration: none;

    scale: 1;
    transition: scale 250ms;
}

.menu-link:hover .menu-link-text{
    scale: 1.05;
}

.active {
    color: var(--text-lowlight);
    border-bottom: 2px solid var(--accent);
}

@media only screen and (max-width: 850px) {
    .menu-dropdown {
        padding: 20px;
    }

    .menu-line {
        width: 20px;
        height: 2px;
        background-color: white;
        margin: 4px 0;
        border-radius: 1px;
    }

    .menu-content {
        display: none;

    }

    .menu-dropdown:hover .menu-content {
        position: absolute;
        top: 40px;
        right: 0;
        z-index: 3;

        padding: 10px;
        height: auto;

        display: flex;
        flex-direction: column;
        gap: 20px;

        background-color: var(--bg-general);
        box-shadow: 0 0 5px 1px black;
        border-radius: 5px;
        border: 2px solid var(--text-header)
    }

    .menu-link:hover .menu-link-text{
        scale: 1;
    }
}
/*  */

/* FOOTER */
.footer {
    position: relative;
    background-color: var(--footer-bg);
    
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.footnote {
    text-align: center;
    font-family: title;
    
    color:var(--text-header);
    padding: 10px 0 0 0;
}

.profile-link-container {
    position: relative;

    max-width: 106px;
    left: 0;
    right: 0;
    margin: -5px auto 0;

}

.profile-link {
    position: relative;
    width: 30px;

    margin: 0 10px;
}
/* */

/* TEXT */
@font-face {
    font-family: standard;
    src: url(/fonts/Inter-VariableFont.ttf)
}
.text-standard {
    font-family: standard, sans-serif;
    font-size: 21px;
    color: var(--text-midlight);
    margin: 0;
}

.text-caption {
    font-family: standard, sans-serif;
    font-size: 16px;
    color: var(--text-lowlight);
    margin: 0;
}

@font-face {
    font-family: title;
    src: url(/fonts/Lato-Regular.ttf)
}
.text-title {
    font-family: title, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: var(--text-header);
    margin: 0;
}

@font-face {
    font-family: mosaic-title;
    src: url(/fonts/Plaster-Regular.ttf)
}
.mosaic-name {
    font-family: mosaic-title;
    color: var(--text-header);
    font-size: 5vw;
    margin: 0;
    /* start with 0 opacity in case name loads first */
    opacity: 0;
}

.txt-link {
    color: var(--text-link);
    text-decoration: none;
}

tab {
    display: inline-block;
    width: 50px;
}
/*  */

.main {
    position: relative;
    z-index: 0;

    max-width: 1180px;

    padding: 0 60px;

    margin: 20px auto 65px;

    opacity: 0;
    animation: fadeIn .6s .1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.acc-border {
    border: 2px solid var(--accent);
    border-radius: 15px;
}