.mosaic-container {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.mosaic {
    width: 100%;
}

.mosaic-display {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mosaic-title {
    position: relative;
    height: 50%;
    width: 36%; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    scale: 1.5;
}

.mosaic-title-divider {
    position: absolute;

    top: 50%;
    left: 0;

    height: 3px;
    background-color: var(--accent);

    /* Initial state: 0 width */
    width: 0%;
    /* Animation: name | duration | timing-function | delay | fill-mode */
    /* forwards ensures it stays at 100% width after animating */
    animation: expandLine .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s forwards;
}

.name-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* border: 1px solid red; */
}

.first-name-above-container {
    bottom: 50%; 
}

.last-name-below-container {
    top: 50%;

    /* offsets container edge, leave equal to divider height */
    margin-top: 3px;
}

.first-name-above {
    transform: translateY(100%);
    animation: revealAbove 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s forwards;
}

.last-name-below {
    transform: translateY(-100%);
    animation: revealBelow 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.5s forwards;
}


/* keyframes for mosaic name */
@keyframes expandLine {
    to { width: 100%; }
}
@keyframes revealAbove {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes revealBelow {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bio-container {
    display: flex;
    align-items: center;
    gap: 30px;

    /* margin: 0 50px; */
    overflow: hidden;
}

.bio {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

@media only screen and (max-width: 980px) {
    .bio-container {
        flex-direction: column;
    }

    .headshot {
        width: 60%;
    }
}