:root {
    --bg: #363636;
    --bg-light: #6b6b6b;
    --accent: rgb(153, 179, 161);
    --text-highlight: #ffffff;
    --text-lowlight: #6e6e6e;
}

html, body {
    margin: 0;
    background-color: #1f1f1f;
    height: 100%;
}

.mosaic {
    width: 100%;
}

div.banner {
    height: 60px;

    background-color: var(--bg);

    box-shadow: 0 0 20px 0 rgb(0, 0, 0);
    z-index: 1;
}

a.header {
    float: left;
    padding: 0 0 0 15%;

    text-decoration: none;
}

div.name {
    position: relative;
    top: 6px;

    font-family: monospace;
    font-weight: bold;
    font-size: 24px;
    color: var(--text-highlight);
}

div.title {
    float: left;

    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    color: var(--accent);
}

div.menu-dropdown {
    height: 100%;
}

div.menu-content {
    float: right;
    padding-right: 15%;

    height: 100%;
    display: flex;
    align-items: center;

    list-style-type: none;
}

li.page {
    padding: 0 20px;
    float: right;
}

a.menu-link {
    font-family: monospace;
    font-size: 14px;
    color: var(--text-highlight);
    text-decoration: none;
}

a.active {
    color: var(--text-lowlight);
    border-bottom: 2px solid var(--accent);
}


@media only screen and (max-width: 768px) {

    div.menu-dropdown {
        position: relative;
        right: 15%;

        float: right;
        height: 20px;

        padding: 20px 0;
    }

    div.menu-line {
        width: 20px;
        height: 2px;
        background-color: white;
        margin: 4px 0;
        border-radius: 1px;
    }

    div.menu-content {
        display: none;
    }

    div.menu-dropdown:hover .menu-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 1;

        position: absolute;
        right: 0;
        background-color: #1f1f1f;
        width: 100px;
        overflow: hidden;
        box-shadow: 0 0 5px 1px black;
        padding: 0 0 10px 0;
    }

    li.page {
        padding: 0;
        text-align: center;
    }
}

div.mainDivider {
    position: relative;
    top: -5px;
    background-color: var(--bg);
    
    /* width: 100%; */
    height: 60px;
    box-shadow: 0px -20px 20px -19px rgb(0, 0, 0);
}

div.main {
    position: relative;
    overflow: auto;
    z-index: 0;

    max-width: 1536px;

    padding: 10px;
    margin: 20px auto 65px;
}

.std {
    border: 2px solid var(--accent);
    margin: 0 60px 60px 5%;
    border-radius: 15px;
}

p.std-txt {
    position: relative;

    font-family: serif;
    font-size: 20px;
    color: var(--text-highlight);
}

p.title-txt{
    font-family: serif;
    position: relative;

    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;

    color: var(--text-highlight);
    font-size: 50px;
    font-weight: bold;
}

div.footer {
    position: relative;
    background-color: var(--bg-light);
    
    width: 100%;
    height: 120px;
    overflow: hidden;
}

p.footnote {
    text-align: center;
    
    color:var(--text-highlight);
    padding: 10px 0 0 0;
}

.profile-link-container {
    position: relative;

    max-width: 106px;
    left: 0;
    right: 0;
    margin: -5px auto 0;

}

.profile-link {
    position: relative;
    width: 30px;

    margin: 0 10px;
}

div.portfolio-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    padding: 0;
    margin: 20px auto;
}

.project-grid {
    height: 400px;
    width: 400px;
    place-self: center;

    overflow: visible;
    text-decoration: none;
}

img.project-thumbnail {
    width: 100%;
    height: auto;

    border-radius: 10px;
    border: 1px solid var(--accent);
    position: static;
    z-index: 0;

    scale: 1;
    transition: scale 250ms;
}

.project-desc-container {
    position: relative;
    
    width: 100%;
    height: 50%;

    white-space: normal;
    z-index: 2;

    background-color: #02224F;
}

.project-title {
    position: relative;
    font-family: serif;

    width: 100%;
    padding: 20px 0 10px;

    color: var(--text-highlight);
    font-size: 25px;
    font-weight: bold;
}

.project-desc {
    margin: 0;
    font-family: serif;
    font-size: 18px;
    color: rgb(167, 167, 167);
}

.project-grid:hover .project-thumbnail{
    scale: 1.05;
}


@media only screen and (max-width: 1600px) {
    div.portfolio-grid {
        padding: 0;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
}

@media only screen and (max-width: 768px) {
    div.portfolio-grid {
        padding: 0;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
}





