.article-container {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.article-title {
    text-align: center;
    /* margin-bottom: 20px; */
}

.article-subtitle {
    width: 100%;
    font-size: 36px;
    /* margin: 20px 0; */
}

.article-section {
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 10px;
}

.article-media-section {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.article-media-container {
    display: flex;
    flex-direction: column;
}

.article-media-caption {
    text-align: center;
    margin-top: 5px;
}

.article-media-section-media {
    min-width: 0;
    object-fit: cover;
}

.article-square-media {
    width: 40%;
}

.article-vertical-media {
    width: 15%;
}

.article-horizontal-media {
    width: 60%;
}

.float-top-right {
    float: right;
    margin: 0 10px 10px 30px;
}

.float-top-left {
    float: left;
    margin: 0 30px 10px 10px;
}

.article-text {
    width: 100%;
    display: block;
}

.back-link-container {
    text-decoration: none;
    margin-top: 20px;
}

.back-link {
    font-family: monospace;
    font-size: 16px;
    color: var(--text-header);
    text-decoration: none;

    padding: 5px 15px;
    background: var(--header-bg);
    border-radius: 20px;
    border: 2px solid var(--accent);

    scale: 1;
    transition: scale 250ms;
}

.back-link-container:hover .back-link {
    scale: 1.05;
}

@media only screen and (max-width: 850px) {
    .article-media-section {
        flex-direction: column;
    }

    .article-text {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 10px;
    }

    .article-square-media {
        width: 75%;
    }

    .article-vertical-media {
        width: 100%;
    }

    .article-horizontal-media {
        width: 100%;
    }

    .float-top-right, .float-top-left, .float-bottom-left, .float-bottom-right {
        margin: 0;
    }
}