.portfolio-grid {
    display: grid;
    max-width: 1180px;

    gap: 50px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;

    margin: 50px 0;
}

@media only screen and (max-width: 1100px) {
    .portfolio-grid {
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 850px) {
    .portfolio-grid {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 600px) {    
    .portfolio-grid {
        grid-template-columns: auto;
    }
}

.project-grid {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    overflow: hidden;
    gap: 0;
}

.project-thumbnail-container {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    border-bottom: 2px solid var(--accent);
}

.project-thumbnail {
    display: block;
    width: 100%;

    scale: 1;
    transition: scale 250ms;
}

.project-grid:hover .project-thumbnail{
    scale: 1.05;
    z-index: 1;
}

.project-title-container {
    margin: 20px 0 10px;
}

.project-title {
    font-family: title, sans-serif;
    font-size: 1.36rem;
    font-weight: bold;
    color: var(--text-header);
    margin: 0;
}

.project-desc-container {
    flex: 2 2 auto;
}

.project-desc {
    font-family: standard;
    color: var(--text-midlight);
    margin: 0;
}

/* .project-grid {
    position: relative;
    z-index: 0;
    text-decoration: none;

    border-radius: 10px;
    border: 1px solid var(--accent);

    overflow: hidden;

    text-align: center;

    scale: 1;
    transition: scale 250ms;

    display: flex;
    flex-direction: column;
}

.project-thumbnail-container {
    position: relative;
    z-index: 2;

    width: 100%;
    flex: 0 1 auto;
}

.project-thumbnail {
    display: block;
    position: relative;
    z-index: 1;

    width: 100%;
}

.project-title-container {
    position: relative;
    z-index: 3;

    flex: 1 1 auto;

    background-color: var(--bg-general);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid var(--accent);


    display: flex;
    justify-content: center;
    align-items: center;
}

.project-title {
    width: 75%;
    margin: 0;
    
    font-family: title, sans-serif;
    color: var(--text-header);
    font-size: 25px;

    margin: 10px 0;
}

.project-desc-container {
    height: 100%;

    position: absolute;
    top: 100%;
    transition: top 250ms;

    z-index: 2;

    background-color: rgba(0, 0, 0, 0.75);

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 5px black;
}

.project-desc {
    width: 90%;
    margin: 0;

    font-family: serif;
    font-size: 18px;
    color: white;
}

.project-grid:hover{
    scale: 1.05;
    z-index: 1;
}

.project-grid:hover .project-desc-container{
    top: 0;
} */

